
<div id="<%= dom_id comment %>" class="p-3">
  <div class="card p-3">
  <p class="card-title">
    <strong><%= comment.user.email %></strong>
  </p>

  <div class="card-text m-3">
    <%= comment.comment %>
  </div>
  
  </div>
</div>
