<% content_for :title, "Editing comment" %>

<h1>Editing comment</h1>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Show this comment", post_comment_path(@post, @comment), class:"btn btn-secondary m-3" %> |
  <%= link_to "Back to Posts", posts_path, class:"btn btn-secondary m-3"%>
</div>
