<div id="<%= dom_id post %>">
<div class="card">
  <div class="card-header">
  <p class="pt-2">
    <strong>User:</strong>
    <%= post.user.email %>
  </p>
  </div>
<div class="m-4">
  <p class="card-title ml-2">
    <strong><%= post.header %></strong>
  </p>

  <p class="card-body">
    <%= post.content %>
  </p>
</div>
</div>
</div>
