<% content_for :title, "New post" %>
<div class="card m-5 p-5">
<div class="card-header">
<h1 class=>New post</h1>
</div>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts", posts_path, class:"btn btn-secondary" %>
</div>

</div>